section.gallery-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
  }

  swiper-container {
    width: 90%;    
    height: 80%;  
    border-radius: 12px;
    overflow: hidden;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
 
  .first {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/454612ad-f233-4ef4-b3ee-f3087d2c99d5');
  }
  
  .second {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/f106e975-1e76-43ff-ad09-6342cee29c24');
  }
  
  .third {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/85f25c95-556f-4cdd-9405-6908bbfca7b1');
  }
  
  .fourth {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/0854e6c4-d431-4810-a2f5-cc9f067e5464');
  }
  
  .fifth {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/445d242f-6949-4094-bb20-a08786860a44');
  }
  
  .sixth {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/7aa620f7-91c5-4594-b46e-3b2cb74ab720');
  }
  
  .seventh {
    background-image: url('https://media-production.lp-cdn.com/cdn-cgi/image/format=auto,quality=85,fit=scale-down,width=1280/https://media-production.lp-cdn.com/media/fddbaac3-d71d-448a-bf98-1b3b328d177d');
  }